### Basic library imports

In [1]:
import os
import pandas as pd
from pathlib import Path

### Read Dataset

In [5]:
DATASET_FOLDER = "../dataset"
train = pd.read_csv(os.path.join(DATASET_FOLDER, "train.csv"))

In [6]:
train["filename"] = train["image_link"].apply(lambda x: Path(x).name)

In [8]:
train.head()

,image_link,group_id,entity_name,entity_value,filename
0,https://m.media-amazon.com/images/I/61I9XdN6OF...,748919,item_weight,500.0 gram,61I9XdN6OFL.jpg
1,https://m.media-amazon.com/images/I/71gSRbyXmo...,916768,item_volume,1.0 cup,71gSRbyXmoL.jpg
2,https://m.media-amazon.com/images/I/61BZ4zrjZX...,459516,item_weight,0.709 gram,61BZ4zrjZXL.jpg
3,https://m.media-amazon.com/images/I/612mrlqiI4...,459516,item_weight,0.709 gram,612mrlqiI4L.jpg
4,https://m.media-amazon.com/images/I/617Tl40LOX...,731432,item_weight,1400 milligram,617Tl40LOXL.jpg

In [ ]:
train.drop(columns=["group_id"], inplace=True)

In [12]:
from sklearn.model_selection import train_test_split

train_df, test_df = train_test_split(train, test_size=0.2, random_state=42)

In [4]:
train_df.to_csv("train.csv", index=False)
test_df.to_csv("test.csv", index=False)

In [3]:
train = pd.read_csv("../data/train.csv")
test = pd.read_csv("../data/test.csv")

In [4]:
from utils import prepare_dataset

prepare_dataset(train, "D:\\project\\student_resource 3\\images\\train")

d:\project\student_resource 3\src\utils.py:107: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["json"] = df.to_json(orient="records", lines=True).splitlines()
100%|██████████| 211087/211087 [20:30<00:00, 171.51it/s]

In [5]:
from sklearn.model_selection import train_test_split

train2, test2 = train_test_split(train[:20000], test_size=0.2, random_state=42)

In [6]:
train2["filename"] = train2["image_link"].apply(
    lambda x: os.path.join("images/train/", Path(x).name)
)
train2.drop(columns=["group_id"], inplace=True)
test2["filename"] = test2["image_link"].apply(
    lambda x: os.path.join("images/train/", Path(x).name)
)
test2.drop(columns=["group_id"], inplace=True)

In [7]:
train2.head()

,image_link,entity_name,entity_value,filename
5894,https://m.media-amazon.com/images/I/617dL+lgq+...,height,12.5 centimetre,images/train/617dL+lgq+L.jpg
3728,https://m.media-amazon.com/images/I/51NHvazso9...,depth,13.0 inch,images/train/51NHvazso9L.jpg
8958,https://m.media-amazon.com/images/I/612KGQm+Vm...,height,6.25 inch,images/train/612KGQm+VmL.jpg
7671,https://m.media-amazon.com/images/I/61JTSA63Vg...,item_weight,1 kilogram,images/train/61JTSA63VgS.jpg
5999,https://m.media-amazon.com/images/I/71j+djqqtk...,item_weight,9.0 ounce,images/train/71j+djqqtkL.jpg

In [8]:
train2.to_csv("../data/train_reduced.csv", index=False)
test2.to_csv("../data/test_reduced.csv", index=False)

# Prepare VQA Dataset

In [9]:
train2 = pd.read_csv("../data/train_reduced.csv")
test2 = pd.read_csv("../data/test_reduced.csv")

In [10]:
train2.head()

,image_link,entity_name,entity_value,filename
0,https://m.media-amazon.com/images/I/617dL+lgq+...,height,12.5 centimetre,images/train/617dL+lgq+L.jpg
1,https://m.media-amazon.com/images/I/51NHvazso9...,depth,13.0 inch,images/train/51NHvazso9L.jpg
2,https://m.media-amazon.com/images/I/612KGQm+Vm...,height,6.25 inch,images/train/612KGQm+VmL.jpg
3,https://m.media-amazon.com/images/I/61JTSA63Vg...,item_weight,1 kilogram,images/train/61JTSA63VgS.jpg
4,https://m.media-amazon.com/images/I/71j+djqqtk...,item_weight,9.0 ounce,images/train/71j+djqqtkL.jpg

In [11]:
def prepare_vqa_dataset(df):
    new_df = pd.DataFrame()
    new_df["image_path"] = df["filename"]
    new_df["question"] = df["entity_name"].apply(
        lambda x: f"What is the {x if '_' not in x else ' '.join(x.split("_")[1:])} of this item ?"
    )
    new_df["answer"] = df["entity_value"]
    return new_df

In [12]:
train_vqa = prepare_vqa_dataset(train2)
test_vqa = prepare_vqa_dataset(test2)

In [13]:
train_vqa.head()

,image_path,question,answer
0,images/train/617dL+lgq+L.jpg,What is the height of this item ?,12.5 centimetre
1,images/train/51NHvazso9L.jpg,What is the depth of this item ?,13.0 inch
2,images/train/612KGQm+VmL.jpg,What is the height of this item ?,6.25 inch
3,images/train/61JTSA63VgS.jpg,What is the weight of this item ?,1 kilogram
4,images/train/71j+djqqtkL.jpg,What is the weight of this item ?,9.0 ounce

In [14]:
train_vqa.to_csv("../data/train_vqa.csv", index=False)
test_vqa.to_csv("../data/test_vqa.csv", index=False)

In [15]:
train_vqa.head()

,image_path,question,answer
0,images/train/617dL+lgq+L.jpg,What is the height of this item ?,12.5 centimetre
1,images/train/51NHvazso9L.jpg,What is the depth of this item ?,13.0 inch
2,images/train/612KGQm+VmL.jpg,What is the height of this item ?,6.25 inch
3,images/train/61JTSA63VgS.jpg,What is the weight of this item ?,1 kilogram
4,images/train/71j+djqqtkL.jpg,What is the weight of this item ?,9.0 ounce

In [5]:
train_vqa = pd.read_csv("../data/train_vqa.csv")
test_vqa = pd.read_csv("../data/test_vqa.csv")

In [6]:
from tqdm import tqdm
import matplotlib.pyplot as plt

In [18]:
for i in tqdm(test_vqa["image_path"]):
    try:
        plt.imread("../" + i)
    except:
        print(i)

100%|██████████| 3999/3999 [00:57<00:00, 69.26it/s]

In [13]:
test_vqa["image_path"][1216]

'images/train/81+f0yeIirL.jpg'

In [ ]:
test_vqa.drop(index=1212, inplace=True)

In [25]:
test_vqa.to_csv("../data/test_vqa.csv", index=False)

In [ ]:
df = pd.read_csv("../data/test_vqa.csv")

In [27]:
len(df)

3999